<nav class="navbar fw-banner setMargin">
	<div class="container-fluid">
	    <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapselogoMargin customCollapsed collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            
	        </button>
                
            <a href="#/dashboard" class="pull-left customlogosetting" href="javascript:void(0)"><img src="../static/imgs/ciscologo.png" /></a>

            <a class="navbar-brand navbar-brand-fix" href="javascript:void(0)" style="cursor: default;">Cisco VIM Installer</a>
                
	    </div>
	    <div id="navbar" class="navbar-collapse collapse">
	
	        <ul class="nav navbar-nav navbar-right logoMargin">
	           
	        </ul>
	    </div><!--/.nav-collapse -->
	</div><!--/.container-fluid -->
</nav>